In [45]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [59]:
valores = pd.read_csv('coches.csv')

In [60]:
valores

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [61]:
valores.head

<bound method NDFrame.head of       mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
..    ...        ...           ...        ...     ...           ...
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model_year  origin                       name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
393          82       1            ford mustang gl
394          82       2                  vw pickup
395          82       1              dodge rampage
396          82       1                ford ranger
397          82       1                 chevy s-10

[398 rows x 9 columns]>

In [ ]:
valores.columnsA()

In [62]:
datos = [go.Scatter(x=valores['horsepower'], y=valores['mpg'], text=valores['name'], mode='markers')]

In [63]:
capa = go.Layout(title='Coches')
figura = go.Figure(datos,capa)
pyo.plot(figura)

'temp-plot.html'

In [64]:
datos = [go.Scatter(x=valores['horsepower'], y=valores['mpg'], text=valores['name'], mode='markers', marker=dict(size=valores['cylinders']))]

In [65]:
capa = go.Layout(title='Coches')
figura = go.Figure(datos,capa)
pyo.plot(figura)

'temp-plot.html'

In [66]:
datos = [go.Scatter(x=valores['horsepower'], y=valores['mpg'], text=valores['name'], mode='markers', marker=dict(color=valores['cylinders']))]

In [67]:
capa = go.Layout(title='Coches')
figura = go.Figure(datos,capa)
pyo.plot(figura)

'temp-plot.html'

In [68]:
datos = [go.Scatter(x=valores['horsepower'], y=valores['mpg'], text=valores['name'], mode='markers', 
                    marker=dict(color=valores['cylinders'], showscale=True))]

In [69]:
capa = go.Layout(title='Coches')
figura = go.Figure(datos,capa)
pyo.plot(figura)

'temp-plot.html'

In [70]:
datos = [go.Scatter(x=valores['horsepower'], y=valores['cylinders'], text=valores['name'], mode='markers', 
                    marker=dict(color=valores['mpg'], showscale=True))]

In [71]:
capa = go.Layout(title='Coches')
figura = go.Figure(datos,capa)
pyo.plot(figura)

'temp-plot.html'