In [1]:
# Histogramas

In [2]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [3]:
pwd

'C:\\Users\\Janet\\Dropbox'

In [5]:
valores = pd.read_csv('mpg.csv')

In [6]:
valores

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [7]:
valores.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [8]:
datos = [go.Histogram(x=valores['acceleration'])]

In [9]:
capa = go.Layout(title='Histograma de coches')

In [10]:
figura = go.Figure(datos,capa)

In [11]:
pyo.plot(figura)

'temp-plot.html'

In [18]:
datos = [go.Histogram(x=valores['acceleration'],xbins=dict(start=10, end=14, size=5))]

In [19]:
capa = go.Layout(title='Histograma de coches')
figura = go.Figure(datos,capa)
pyo.plot(figura)

'temp-plot.html'